@import url(https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);
// Styles
// ------------------------------------

// first of all. Choose your options
$debug-mode:          false!default;
$use-breadcrumb:      true!default;
$use-pagination:      true!default;
$use-pager:           true!default;
$use-btn-color:       true!default;
$use-btn-group:       false!default;
$use-btn-size:        true!default;
$use-input-group:     true!default;
$use-split:           false!default;
$use-rules:           false!default;
$use-this-or-this:    true!default;
$use-has-feedback:    false!default;
$use-color-text:      true!default;
$use-table:           true!default;
$use-color-table:     false!default;
$use-column-table:    false!default;
$use-flexbox:         false!default;
$use-adaptive:        true!default;

// plugins
$use-animations:      false!default;

// Variables
@import "_variables";

// Util
@import "utils/_glob";

// Base
@import "base/_glob";

// Components
@import "components/_glob";

// Layout
@import "layout/glob";

// Vendors
@import "vendors/glob";

