.modal.fade(id='modal-id1')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
                h2.modal-title Внимание акция
            .modal-body
                .col-md-9.center-block
                    p Векторно-зеркальная синхронность дает алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой. Пауза, так или иначе, диссонирует серийный фузз. Мономерная остинатная педаль представляет собой сонорный флюгель-горн. Иными словами, рондо представляет собой полиряд, что отчасти объясняет такое количество кавер-версий. Очевидно, что ревер дает тон-полутоновый пласт. Динамический эллипсис трансформирует фузз.
                    a.btn.btn--danger.btn--lg(href='#') Подробнее

.modal.fade(id='modal-id2')
    .modal-dialog
        .modal-content.text--center.modal-content-success
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
                h2.modal-title Успешно!
            .modal-body
                .col-md-9.center-block
                    p Операция выполнена успешно. Векторно-зеркальная синхронность дает алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой. Пауза, так или иначе, диссонирует серийный фузз. Мономерная остинатная педаль представляет собой

.modal.fade(id='modal-id3')
    .modal-dialog
        .modal-content.modal-content-up
            button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
            .modal-body
                .row
                    .col.col-md-6.col-xs-12
                        img(src="images/modal.jpg", alt="")
                    .col.col-md-5.col-xs-12
                        h2.modal-title Внимание акция
                        p Векторно-зеркальная синхронность дает алеаторически выстроенный бесконечный канон с полизеркальной векторно-голосовой структурой. Пауза, так или иначе, диссонирует серийный фузз. Мономерная
                        a.btn.btn--danger.btn--lg(href='#') Подробнее