nav.navbar
    ul.nav.navbar-nav
        li: a(href="#"): span Главная
        li: a(href="#"): span О компании
        li: a(href="#"): span Комплексные услуги
        li.subitem
            a(href="#"): span Виды работ
            ul.list--unstyled.subnav
                li: a(href="#") Квартиры
                li: a(href="#") Коттеджи
                li: a(href="#") Офисы
                li: a(href="#") Аварийные вызовы
        li: a(href="#"): span Прайс-лист
        li: a(href="#"): span Гарантия на работы
        li: a(href="#"): span Контакты
        li.searchItem
            a.hidden--xs.hidden--sm(href="#"): i.ico--sm.ico--search
            .searchItem-body.visible--sm.visible--xs
                .input-group
                    input.form-control(type="text")
                    button.btn.input-group-addon(type="submit"): i.ico--sm.ico--search