aside.col.col-lg-4.col-xs-12
    .sidebar
        ul.list--unstyled.sidebarNav
            li: a(href="#"): span О компании
            li
                a(href="#"): span Комплексные услуги
                ul.list--unstyled
                    li: a(href="#"): span Квартиры
                    li: a(href="#"): span Коттеджи
                    li: a(href="#"): span Офисы
                    li: a(href="#"): span Аварийные работы
            li: a(href="#"): span Виды работ
            li: a(href="#"): span Прайс-лист
            li: a(href="#"): span Гарантия на работы
            li: a(href="#"): span Миссия организации
            li: a(href="#"): span Вакансии
        .calcBox.margbot30
            .text--center
                img(src="images/calc.png", alt="")
                h3.margtop30: b Для удобства вычислений,
                    | вы можете воспользоваться
                    a.text--uppercase.text--danger(href="#"): u калькулятором услуг
