//
// Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbBody {
    padding-top: 37px;
    background: $brand-danger;
    margin-bottom: 30px;
    .container {
      position: relative;}
  }
  .breadcrumb {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: 17px;
    list-style: none;
    background-color: $breadcrumb-bg;
    font-weight: 400;

    > li {
      display: inline-block;
      margin: 0 10px;
      @media (max-width: $screen-md-min) {
        &:not(:first-child) {
          display: none;
        }
      }

      + li:before {
        content: "";
        background: url("../images/breadcrumbs-ico.png") center center no-repeat;
        margin: 0 10px;
        padding: 0 10px;
      }
      a {
        color: $breadcrumb-color;
        font-size: 15px;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }

    > .active {
      color: $breadcrumb-active-color;
      font-size: 21px;
      margin-right: 15px;
      margin-left: 99px;
    }
  }
}