//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 5px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
}


// Alternate buttons
.btn--default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

@if $use-btn-color == true {
  .btn--primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }
  .btn--success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
  }
  .btn--info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
  }
  .btn--warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }
  .btn--danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }
}


// Button Sizes
@if $use-btn-size == true {
  .btn--lg {
    @include button-size($padding-large-vertical, $padding-large-horizontal, 20px, $line-height-large, $btn-border-radius-large);
    text-transform: uppercase;
    min-width: 232px;
    font-weight:700;
  }
  .btn--sm {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
  .btn--xs {
    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
}


// Block button
.btn--block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
