//
// Modules -> Navbars
// --------------------------------------------------


.navbar {
  text-align: center;

  @media (min-width: $screen-lg-min) {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;

    @include clearfix;
    header & {
      bottom: -29px;
    }
    footer & {
      bottom: -8px;
    }
  }
}


// Navbar collapse (body)
.navbar-collapse {
  overflow-x: visible;
  padding-right: $navbar-padding-horizontal;
  padding-left: $navbar-padding-horizontal;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  @include clearfix;
  -webkit-overflow-scrolling: touch;

  &.in {
    overflow-y: auto;
  }

  @media (min-width: $screen-lg-min) {
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }
  }
}

.container{
  > .navbar-header,
  > .navbar-collapse {
    margin-right: -$navbar-padding-horizontal;
    margin-left:  -$navbar-padding-horizontal;

    @media (min-width: $screen-lg-min) {
      margin-right: 0;
      margin-left:  0;
    }
  }
}


.navbar-header {
  @include clearfix;

  @media (min-width: $screen-lg-min) {
    float: left;
  }
}


@media (min-width: $screen-lg-min) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -$navbar-padding-horizontal;
    position: relative;
    z-index: 3;

    ~ .navbar-right {
      margin-right: 0;
    }
  }
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @media (min-width: $screen-lg-min) {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

// Navbar toggle
.navbar-toggle {
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  float: right;
  //margin-right: $navbar-padding-horizontal;
  padding: 9px 10px;
  //@include navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $border-radius-base;

  &:focus {
    outline: 0;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #424242;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: $screen-lg-min) {
    display: none;
  }
}

.subnav {
  display: none;
  @media (min-width: $screen-md-min) {
    position: absolute;
    top: 109%;
    left: -11px;
    width: 400px;
    z-index: 2;
  }
  > li {
    > a {
      display: block;
      background: #424242;
      color: $light;
      padding: 21px 31px;
      text-align: left;
      &:hover,
      &:focus {
        background: #2c2c2c;
      }
    }
  }
}

.navbar-nav {
  margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);

  > li > a {
    padding-top:    10px;
    padding-bottom: 10px;
    line-height: $line-height-computed;
    //@include border-radius(10px);
    background: #424242;
    color: $light;
    @media (min-width: $screen-xlg-min) {
      -webkit-transform: skewX(-15deg);
      -moz-transform: skewX(-15deg);
      -ms-transform: skewX(-15deg);
      -o-transform: skewX(-15deg);
      transform: skewX(-15deg);
      margin-left: -2px;
      box-shadow: 7px 7px 0 0 #2c2c2c;
      > * {
        display: inline-block;
        -webkit-transform: skewX(15deg);
        -moz-transform: skewX(15deg);
        -ms-transform: skewX(15deg);
        -o-transform: skewX(15deg);
        transform: skewX(15deg);
      }
    }
  }
  // Uncollapse the nav
  @media (min-width: $screen-lg-min) {
    //float: left;
    margin: 0;
    display: inline-block;
    > li {
      float: left;
      > a {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
      }
    }
  }
}

.navbar-brand {
  float: left;
  padding: 0 $navbar-padding-horizontal;
  line-height: $line-height-computed;
  height: 140px;
  margin-top: -25px;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  > img {
    display: block;
  }

  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: -$navbar-padding-horizontal;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -$navbar-padding-horizontal;

    ~ .navbar-right {
      margin-right: 0;
    }
  }
}