//
// Modules -> Navs
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    //@media (min-width: $screen-md-min) {
    //  &:hover {
    //    .subnav {
    //      display: block;
    //    }
    //  }
    //}
    @media (min-width: $screen-xlg-min) {
      &:first-child a {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        &.active,
        &:focus {
          &::after {
            left: auto;
            right: 0;
            width: 93%;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
          }
        }
      }
    }
    > a {
      position: relative;
      display: block;
      text-transform: uppercase;
      position: relative;

      padding: 22px 12px;
      font-size: 13px;

      @media (min-width: $screen-xlg-min) {
        padding: $nav-link-padding;
        font-size: 15px;
      }

      &:hover span {
        text-decoration: underline;
      }
    }
    &.active:not(.searchItem) > a,
    &:not(.searchItem) a:focus {
      background-color: $nav-link-hover-bg;

      @media (min-width: $screen-md-min) {
        &::after {
          content: '';
          width: 99%;
          height: 7px;
          background: #c11812;
          position: absolute;
          bottom: -7px;
          left: 1px;
          -webkit-transform: skewX(15deg);
          -moz-transform: skewX(15deg);
          -ms-transform: skewX(15deg);
          -o-transform: skewX(15deg);
          transform: skewX(15deg);
        }
      }
    }
    &.searchItem {
      margin-left: -8px;
      z-index: 0;
      > a {
        height: 66px;
        background: #3a3a3a;
        @media (min-width: $screen-xlg-min) {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }
  // Prevent IE8 from misplacing imgs
  > li > a > img {
    max-width: none;
  }
}


@media (min-width: $screen-xlg-min) {
  header {
    .nav > li:nth-last-child(2) a {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      &.active,
      &:focus {
        &::after {
          width: 92%;
        }
      }
    }
  }
}
footer {
  .nav > li {
    &:last-child a {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      &.active,
      &:focus {
        &::after {
          width: 92%;
        }
      }
    }
    a {

      padding: 20px 19px;

      @media (min-width: $screen-xlg-min) {
        padding: 20px 29px;
      }
    }
  }
}

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }
  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}