//
// Modules -> Pager pagination
// --------------------------------------------------

@if $use-pager == true {
  .pager {
    padding-left: 0;
    margin: $line-height-computed 0;
    list-style: none;
    text-align: center;
    @include clearfix;
    font-family: 'Roboto', sans-serif;

    li {
      display: inline;
      > a,
      > span {
        display: inline-block;
        padding: 13px 19px;
        background-color: $pager-bg;
        color: #424242;
        //border: 1px solid $pager-border;

        @include border-radius(10px);
        -webkit-transform: skewX(-15deg);
        -moz-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        -o-transform: skewX(-15deg);
        transform: skewX(-15deg);
        > * {
          display: inline-block;
          -webkit-transform: skewX(15deg);
          -moz-transform: skewX(15deg);
          -ms-transform: skewX(15deg);
          -o-transform: skewX(15deg);
          transform: skewX(15deg);
        }
      }

      > a:hover,
      > a:focus {
        text-decoration: none;
        color: #f7f7f7;
        background-color: $pager-hover-bg;
      }
    }

    .next {
      > a,
      > span {
        float: right;
      }
    }

    .previous {
      > a,
      > span {
        float: left;
      }
    }

    .disabled {
      > a,
      > a:hover,
      > a:focus,
      > span {
        color: $pager-disabled-color;
        background-color: $pager-bg;
        cursor: $cursor-disabled;
      }
    }
  }
}
