//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: $line-height-computed * 1.4 0 $line-height-computed;
    border-radius: $border-radius-base;
    font-family: 'Roboto', sans-serif;

    > li {
      display: inline; // Remove list-style and block-level defaults
      > a,
      > span {
        position: relative;
        float: left; // Collapse white-space
        padding: 13px 18px;
        line-height: $line-height-base;
        text-decoration: none;
        color: $pagination-color;
        //background-color: $pagination-bg;
        margin-left: -1px;

        @include border-radius(10px);
        -webkit-transform: skewX(-15deg);
        -moz-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        -o-transform: skewX(-15deg);
        transform: skewX(-15deg);
        > * {
          display: inline-block;
          -webkit-transform: skewX(15deg);
          -moz-transform: skewX(15deg);
          -ms-transform: skewX(15deg);
          -o-transform: skewX(15deg);
          transform: skewX(15deg);
        }
      }
      &:first-child {
        > a,
        > span {
          margin-left: 0;
          //@include border-left-radius($border-radius-base);
        }
      }
      &:last-child {
        > a,
        > span {
          //@include border-right-radius($border-radius-base);
        }
      }
    }

    > li > a,
    > li > span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    > .active > a,
    > .active > span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }

    > .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        color: $pagination-disabled-color;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border;
        cursor: $cursor-disabled;
      }
    }
  }
}
