footer.site-footer
	.container
		.collapse.navbar-collapse.navbar-ex1-collapse.relative
			nav.navbar
				ul.nav.navbar-nav
					li: a(href="#"): span Главная
					li: a(href="#"): span О компании
					li: a(href="#"): span Комплексные услуги
					li: a(href="#"): span Виды работ
					li: a(href="#"): span Прайс-лист
					li: a(href="#"): span Гарантия на работы
					li: a(href="#"): span Контакты
		.footer-block
			.row.text--center.text--md--left
				.col.col-lg-2.col-md-4.col-xs-12.footer-block_txt
					a(href='#'): img(src="images/logo.png", alt="")
				.col.col-lg-4.col-md-8.col-xs-12.footer-block_txt
					p Организация «ЭлектроДока» — электромонтажные работы в Москве: электромонтаж в квартире, офисе, срочный вызов электрика на дом, электрификация коттеджей.
				.col.col-lg-6.col-xs-12.footer-block_adr
					img(src="images/footer--back2.png", alt="")
					//p +7 495 968-08-19
					//p Москва, ул. Годовикова, д. 9, стр. 3, рядом с метро Алексеевская.
					//p= index.footer
					//p E-mail: info@elektrodoka.ru