header.site-header
    .site-header_top
        .container.text--center.text--md--right
            ul.list--inline
                li.phone
                    i.ico--sm.ico--phone
                    a(href="#") +7 495 968 08 19
                li.order
                    i.ico--sm.ico--headg
                    a(href="#") Заказать обратный звонок
    .site-header_bottom
        .container
            .row
                .navbar-header.col.col-lg-2.mob-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#'): img(src="images/logo.png", alt="")
                .col.col-lg-7.pull-right.text--center.pull--lg--left
                    .button
                        .button__block.button__block-danger
                            span.text--uppercase Электромонтажные работы
                        .button__block-icon
                            i.ico--sm.ico--clock
                        .button__block.button__block-default
                            span с 8:00 до 21:00
                .col.col-lg-3.col-md-4.col-xs-12.pull-right.text--center.text--md--right.pad0-lg
                    a(href="#").calculator.text--center
                        .calculator__block.calculator__block-danger.hidden--xs.hidden--sm.hidden--md
                            i.ico--sm.ico--cal
                        .calculator__block.calculator__block-black
                            span.text--uppercase Калькулятор услуг
            .collapse.navbar-collapse.navbar-ex1-collapse.relative
                include ../components/_navbar