//
// Partials -> Footer
// ------------------------------------

.site-footer {
  font-family: 'Roboto', sans-serif;
}
.footer-block {
  padding: 20px 10px 0;
  @media (min-width: $screen-md-min) {
    padding: 40px 20px 0 62px;
  }
  background-color: #f0f0f0;
  @include box-shadow(0 24px 48.4px 13.6px rgba(20, 16, 10, 0.17));
  line-height: 1.7;
  &_adr {
    //background: url("../images/footer--back2.png") center center no-repeat;
    img {
      display: block;}
  }
  &_txt {
    margin-bottom: 20px;
    @media (min-width: $screen-xlg-min) {
      padding-top: 60px;
      p {
        padding-left: 40px;}
    }
  }
}