//
// Partials -> Header
// ------------------------------------


.mob-header {
  @media (max-width: $screen-md-min) {
    width: 100%;
  }
}

.site-header {
  &_top {
    color: #2e2e2e;
    background-color: white;
    padding: 9px 0 0;
    .phone {
      font-size: 21px;
      font-weight: 500;
      color: #2e2e2e;
      @media (min-width: $screen-md-min) {
        padding-right: 80px;
      }
    }
    .order {
      font-family: 'Roboto Slab', sans-serif;
      text-decoration: underline;
      a {color: #3a3a3a;}
    }
  }
  &_bottom {
    background: #f0f0f0;
    position: relative;
    font-size: 14px;
    @media (min-width: $screen-xlg-min) {
      font-size: 16px;;
    }
    .button {
      padding-top: 25px;
      padding-bottom: 15px;
      @media (min-width: $screen-lg-min) {
        padding-top: 45px;
        padding-bottom: 79px;
      }
      &__block {
        position: relative;
        padding: 13px 34px;
        height: 50px;
        display: inline-block;
        @media (min-width: $screen-xlg-min) {
          -webkit-transform: skewX(-15deg);
          -moz-transform: skewX(-15deg);
          -ms-transform: skewX(-15deg);
          -o-transform: skewX(-15deg);
          transform: skewX(-15deg);
          @include border-radius(10px);
          > * {
            display: inline-block;
            -webkit-transform: skewX(15deg);
            -moz-transform: skewX(15deg);
            -ms-transform: skewX(15deg);
            -o-transform: skewX(15deg);
            transform: skewX(15deg);
          }
        }
        &-default {
          color: #2e2e2e;
          background-color: #fff;
          margin-left: -42px;
          z-index: 1;
        }
        &-danger {
          color: #fff;
          background-color: $brand-danger;
          z-index: 2;
        }
        &-icon {
          display: inline-block;
          position: relative;
          z-index: 10;
          padding: 10px 0;
          left: -18px;
          top: -2px;
        }
      }
    }
    .calculator {
      padding-top: 5px;
      padding-bottom: 15px;
      display: inline-block;
      @media (min-width: $screen-lg-min) {
        padding-top: 45px;
        padding-bottom: 0;
      }
      &__block {
        color: #fff;
        height: 50px;
        position: relative;
        padding: 13px 15px;
        display: inline-block;
        @media (min-width: $screen-xlg-min) {
          padding: 13px 21px;
          -webkit-transform: skewX(-15deg);
          -moz-transform: skewX(-15deg);
          -ms-transform: skewX(-15deg);
          -o-transform: skewX(-15deg);
          transform: skewX(-15deg);
          @include border-radius(10px);
          > * {
            display: inline-block;
            -webkit-transform: skewX(15deg);
            -moz-transform: skewX(15deg);
            -ms-transform: skewX(15deg);
            -o-transform: skewX(15deg);
            transform: skewX(15deg);
          }
        }
        &-black {
          background-color: #424242;
          margin-left: -15px;
        }
        &-danger {
          background-color: $brand-danger;
          padding-right: 26px;
        }
      }
    }
  }
  .searchItem {
    position: relative;
    &-body {
      display: none;
      background: #2C2C2C;
      padding: 10px 20px;
      .input-group {margin:auto;}
      @media (min-width: $screen-lg-min) {
        width: 312px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transform: skewX(-15deg);
        -moz-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        -o-transform: skewX(-15deg);
        transform: skewX(-15deg);
        @include border-radius(10px);
        > * {
          -webkit-transform: skewX(15deg);
          -moz-transform: skewX(15deg);
          -ms-transform: skewX(15deg);
          -o-transform: skewX(15deg);
          transform: skewX(15deg);
        }
      }
      input {
        height:45px;
        width: 211px;
      }
      button {
        height:45px;
        width:auto;
        background: $brand-danger;
        border-color: $brand-danger;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    &.active .searchItem-body {
      display: block;
    }
  }
}




// icons
.ico {
  &--sm {
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    background: url("../images/icons/icons--sm.png") no-repeat;
  }
  &--phone {
    background-position: 0 0;
  }
  &--headg {
    background-position: -24px 0;
  }
  &--headw {
    background-position: -45px 0;
    margin-right: 0;
  }
  &--clock {
    background-position: 0 -23px;
    margin-right: 0;
  }
  &--cal {
    background-position: -22px -23px;
    margin-right: 0;
  }
  &--search {
    background-position: -68px 0;
    width: 25px;
    height: 25px;
    margin-right: 0;
  }
}