//
// Partials -> Main
// ------------------------------------

.indexOv {
  overflow: hidden;
}

main {
  padding-bottom: 80px;
  position: relative;
}

.topSection {
  position: relative;
  z-index: 3;
}
.conductHead2 {
  position: absolute;
  left: 1388px;
  bottom: -5px;
  z-index: 1;
}
.conductHead3 {
  position: absolute;
  left: 1388px;
  bottom: 60px;
  z-index: 2;
}
.conductHead {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  &_anim {
    position: absolute;
    right: 101px;
    top: -12px;
  }
}
.conductFoot {
  position: absolute;
  left: 0;
  bottom: -196px;
  z-index: -1;
}

.conductBread {
  position: absolute;
  left: -354px;
  top: -72px;
  z-index: 0;
}

section h1 {
  color: #453939;
  margin-bottom: 46px;
  margin-top: 63px;
}

.feedbackFix {
  position: absolute;
  right: 0;
  top: 490px;
  z-index: 99;
  &--grp {
    .form-control {
      font-size: 21px;
      font-weight: 700;
      width: 290px;
      background: #fff;
      font-family: 'Roboto Slab', sans-serif;
      border: 5px solid $brand-danger;
    }
    .input-group-addon {
      background: $brand-danger;
      border: none;
    }
    .open & .form-control,
    &:hover .form-control {
      background: #f0f0f0;
    }
    .open & .form-control {
      border-bottom-left-radius: 0;
    }
    .open & .input-group-addon {
      @include border-bottom-radius(0);
    }
  }
}

.slider {
  background: $brand-danger;
  height: 500px;
  color: $light;
  position: relative;
  z-index: 1;
  .item {
    padding: 77px 0 63px;
    height: 500px;
  }
  .iconBlock {
    height: 79px;
  }
}

.worksGallery {
  @extend .topSection;
  &__item {
    color: $light;
    margin-bottom: 20px;
    position: relative;
    a {
      color: #fff;
      text-decoration: underline;
    }
    &-img {
      img {
        @include border-radius(10px);
        display: block;
        width: 100%;
      }
    }
    &-inner {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      @include border-radius(10px);
      background: rgba(237, 36, 29, 0.8);
    }
    &-text {
      width: 89%;
      height: 130px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin:auto;
    }
  }
}

.howTo {
  @extend .topSection;
  &__item {
    display: block;
    padding: 24px 30px;
    background-color: white;
    height: 207px;
    margin-bottom: 20px;
    @include border-radius(10px);
    font-family: 'Roboto', sans-serif;
    position: relative;
    &::before {
      content: '';
      background: url("../images/icons/icons--md.png") no-repeat;
      width: 75px;
      height: 65px;
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      margin:auto;
      @media (min-width: $screen-xlg-min) {
        left: 70px;
      }
    }
    &-text {
      margin-left: 99px;
      margin-top: -20px;

      @media (min-width: $screen-xlg-min) {
        margin-left: 169px;
      }
      h3 {line-height: 1.5;
        margin-top: 7px;}
    }
    &-num {
      display: inline-block;
      font-size: 30px;
      color: #7f7f7f;
    }
    &-1::before {
      background-position: 7px 0;
    }
    &-2::before {
      background-position: -69px 0;
    }
    &-3::before {
      background-position: -366px 0;
    }
    &-4::before {
      background-position: -140px 0;

    }
    &-5::before {
      background-position: -292px 0;
    }
    &-6::before {
      background-position: -216px 0;
    }
    &:hover {
      background: $brand-danger;
      color: #fff;
      .howTo__item-num {
        color: #fff;
      }
      &.howTo__item-1::before {
        background-position: 7px -97px;
      }
      &.howTo__item-2::before {
        background-position: -69px -97px;
      }
      &.howTo__item-3::before {
        background-position: -366px -97px;
      }
      &.howTo__item-4::before {
        background-position: -143px -97px;
      }
      &.howTo__item-5::before {
        background-position: -292px -97px;
      }
      &.howTo__item-6::before {
        background-position: -216px -97px;
      }
    }
  }
}

.ourWorks {
  @extend .topSection;
  padding-bottom: 55px;
  &-inner {
    &__item {
      //display: inline-block;
      //width: 380px;
      //height: 285px;
      //overflow: hidden;
      position: relative;
      margin: 16px 0;
      &:hover::after {
        content: '';
        height: 60px;
        width: 63px;
        display: inline-block;
        position: absolute;
        bottom: 20px;
        right: 20px;
        background: url("../images/plus.png") center center no-repeat;
      }
    }
  }
}


.workTypes {
  background: #fff;
  padding-bottom: 64px;
  &-inner {
    height: 274px;
    margin-bottom: 36px;
    display: block;
    font-family: 'Roboto', sans-serif;
    &__item {
      position: relative;
      //width: 180px;
      height: 180px;
      background-color: #f0f0f0;
      @include border-radius(10px);
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
  h3 { color: #424242;line-height: 1.2;}
  &-content {
    padding-left: 28px;
    p, ul, b {
      font-family: 'Roboto', sans-serif;
      line-height: 1.5;
      margin-bottom: 29px;
    }
    a {
      color: $brand-danger;
      text-decoration: underline;
      &:hover {text-decoration: none;}
    }
  }
}
.calcBox {
  margin-top: 34px;
  color: #453939;
  padding: 20px 23px;
  border: 5px solid #ed241d;
  background: #fff;
  @include border-radius(10px);
  @include clearfix();
  h3 {line-height: 1.5;}
  @media (min-width: $screen-xlg-min) {
    padding: 30px 43px;
  }
}



.exampleBlock {
  background: $brand-danger;
  color: $light;
  h1 {color: $light;}
  @media (min-width: $screen-md-min) {
    .container {
      background: url("../images/example.png") bottom right no-repeat;
    }
  }
  &-inner {
    padding-bottom: 55px;
    p {font-family: 'Roboto', sans-serif;}
  }
}



.reviewBlock {
  text-align: center;
  padding-bottom: 51px;
  &-inner {
    padding: 36px 36px 20px;
    background: #fff;
    @include border-radius(10px);
    p {font-family: 'Roboto', sans-serif;}
  }
  &-sqr {
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 2.5;
    width: 79px;
    height: 79px;
    background-color: $brand-danger;
    @include border-radius(10px);
  }
  &-name {
    h2 {font-size: 30px;}
    p {
      color: #a6a6a6;
    }
  }
  &-desc {
    margin-top: 28px;
  }
}


// sidebar
.sidebar {
  //padding: 0 30px;
  .sidebarNav {
    font-weight: 700;
    background-color: white;
    padding: 20px 0;
    @include border-radius(10px);
    li {
      > a {
        color: #424242;
        padding: 10px 33px;
        display: block;
        @include border-radius(10px);
        -webkit-transform: skewX(-15deg);
        -moz-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        -o-transform: skewX(-15deg);
        transform: skewX(-15deg);
        > * {
          display: inline-block;
          -webkit-transform: skewX(15deg);
          -moz-transform: skewX(15deg);
          -ms-transform: skewX(15deg);
          -o-transform: skewX(15deg);
          transform: skewX(15deg);
        }
        &:hover {
          background: $brand-danger;
          color: $light;
          ul a:before {
            background: url("../images/navLinkh.png") center left no-repeat;
          }
        }
      }
      > ul {
        font-weight: 400;
        li a {
          &:before {
            content: '';
            background: url("../images/navLink.png") center left no-repeat;
            display: inline-block;
            width: 8px;
            height: 14px;
            margin-right: 5px;
          }
          &:hover:before {
            background: url("../images/navLinkh.png") center left no-repeat;
          }
        }
      }
    }
  }
}
// sidebar

// content
.content {
  background-color: white;
  @include border-radius(10px);
  padding: 15px;
  @media (min-width: $screen-sm-min) {
    padding: 20px 40px;
  }
  p, ul, b {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
  }
  > p a,
  > a:not(.btn) {
    text-decoration: underline;
    color: $brand-danger;
    &:hover {
      text-decoration: none;
    }
  }
  .owl-theme .owl-controls .owl-nav > div {
    background: rgba(58, 58, 58, 0.5);
    padding: 10px;
    top: 185px;
    margin: 0 20px;
    width: 60px;
    height: 50px;
    @include border-radius(10px);
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
    &:hover {
      opacity: 1;
    }
    i {
      font-size: 20px;
      color: #fff;
    }
  }

  .owl-dots {
    counter-reset: slides-num;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 14px;
    right: 10px;
    margin-top: 15px;
    background-color: rgba(255,255,255,0.8);
    @include border-radius(10px);
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
    width: 93px;
    height: 50px;
    > * {
      display: inline-block;
      -webkit-transform: skewX(15deg);
      -moz-transform: skewX(15deg);
      -ms-transform: skewX(15deg);
      -o-transform: skewX(15deg);
      transform: skewX(15deg);
    }

    &:after {
      content: counter(slides-num);
      display: inline-block;
      vertical-align: top;
      left: 21px;
      position: relative;
      top: 15px;
      -webkit-transform: skewX(15deg);
      -moz-transform: skewX(15deg);
      -ms-transform: skewX(15deg);
      -o-transform: skewX(15deg);
      transform: skewX(15deg);
    }
  }
  .owl-dot {
    display: inline-block;
    counter-increment: slides-num;
    margin-right: 5px;
    position: absolute;
    left: 10px;
    top: 30%;

    span {
      display: none;
    }

    &.active {

      &:before {
        content:  counter(slides-num) " из" ;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 0;
        top: 0;
        width: 49px;
      }
    }
  }
}
// content

// feedback
.feedback {
  margin-top: 58px;
  margin-bottom: 28px;
  padding: 40px;
  background-color: white;
  @include border-radius(10px);
  @extend .topSection;
  p {
    small {
      display: block;
      font-size: 21px;
    }
  }
}
// feedback


.btn--primary {
  &:hover,
  &:focus {
    color: #000;
    background: #fff;
    border-color: #fff;
  }
}

// accordion

.accordion
{
  width:100%;
  //min-height:300px;
  margin:20px auto;
  font-family: 'Roboto', sans-serif;
  table {
    margin-bottom: 0;
    vertical-align: top;
    text-align: center;
    td {
      padding: 6px 10px;}
    td:first-child {
      width: 7%;
    }
    td:nth-child(2) {
      text-align: left;
    }
    th:last-child,
    th:nth-child(3),
    th:nth-child(4) {
      font-size: 13px;
    }
    tr.active td {
      border-top: 2px solid $brand-danger;
      border-bottom: 2px solid $brand-danger;
      &:first-child {
        border-left: 2px solid $brand-danger;
      }
      &:last-child {
        border-right: 2px solid $brand-danger;
      }
    }
    tfoot {
      td {
        text-align: right;}
      b, span {
        font-size: 20px;
      }
      a {
        font-weight:700;
        color: $brand-danger;
        text-transform: uppercase;
        text-decoration: underline;
        margin-left: 40px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.accordion-item {
  background: #ed241d;
  @include border-radius(10px);
  color: #fff;
  cursor:pointer;
}

.accordion-item span {
  padding: 15px 20px;
  display: inline-block;
}

.accordion-item .type {
  padding: 26px 36px;
  float: right;
  @include border-radius(10px);
  background: url('../images/down-ico.png') center no-repeat, #d71e17;
}
.accordion-item.open .type {
  background: url('../images/up-ico.png') center no-repeat, #d71e17;
}

div.data {
  //background: #fff;
  display:none;
  width: 100%;
}
// accordion