.slider
    .container
        .conductHead2
            img(src="images/conduct-head2.png", alt="")
        .conductHead3
            img(src="images/conduct-head3.png", alt="")
            .conductHead_anim
                img(src="images/GIF_LIGHT.gif", alt="")
        .main-slider
            .item(style="background: url('images/slider--01.jpg') center center no-repeat")
                p.iconBlock: img(src="images/slider-ico--01.png", alt="")
                h1 Выезд мастера
                    br
                    | для составления
                    br
                    | сметы
                    b: u бесплатно!
                a.margtop30.btn.btn--primary.btn--lg(href="#") Заказать
            .item(style="background: url('images/slider--02.jpg') center center no-repeat")
                p.iconBlock: img(src="images/slider-ico--02.png", alt="")
                h1 Гарантия
                    br
                    | на наши работы —
                    br
                    b: u 48 месяцев
                a.margtop30.btn.btn--primary.btn--lg(href="#") Подробнее
            .item(style="background: url('images/slider--03.jpg') center center no-repeat")
                p.iconBlock: img(src="images/slider-ico--03.png", alt="")
                h1
                    b: u Оплата
                    |  наличными
                    br
                    | мужику или картами
                    br
                    | Visa и MasterCard
                a.margtop30.btn.btn--primary.btn--lg(href="#") Подробнее
main.site-main
    .feedbackFix.hidden--sm.hidden--xs.hidden--md
        .input-group.feedbackFix--grp(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            button.form-control.text--uppercase Обратная связь
            span.input-group-addon.input-lg: i.ico--sm.ico--headw
        .dropdown-menu(aria-labelledby="dLabel")
            form(action='', method='post', role='form')
                .form-group
                    input.form-control(type='text', placeholder='Ваше имя', required)
                .form-group
                    input.form-control(type='email', placeholder='Ваш e-mail или телефон', required)
                .form-group
                    textarea.form-control(placeholder='Сообщение', rows="4")
                button.btn.btn--danger.btn-block.btn--lg.text--uppercase.btn--block(type='submit') Отправить
            
    section.worksGallery
        .container
            h1 Электромонтажные работы в Москве
            .row.text--center
                .col.col-lg-3.col-sm-6.col-xs-12
                    .worksGallery__item
                        .worksGallery__item-img
                            img(src="images/gal--01.jpg", alt="")
                        .worksGallery__item-inner
                            .worksGallery__item-text
                                img(src="images/gal-ico--01.png", alt="")
                                h3 Работы в&nbsp;
                                    a(href="#") офисах
                .col.col-lg-3.col-sm-6.col-xs-12
                    .worksGallery__item
                        .worksGallery__item-img
                            img(src="images/gal--02.jpg", alt="")
                        .worksGallery__item-inner
                            .worksGallery__item-text
                                img(src="images/gal-ico--02.png", alt="")
                                h3 Работы в&nbsp;
                                    a(href="#") квартирах
                .col.col-lg-3.col-sm-6.col-xs-12
                    .worksGallery__item
                        .worksGallery__item-img
                            img(src="images/gal--03.jpg", alt="")
                        .worksGallery__item-inner
                            .worksGallery__item-text
                                img(src="images/gal-ico--03.png", alt="")
                                h3 Работы в&nbsp;
                                    a(href="#") коттеджах
                .col.col-lg-3.col-sm-6.col-xs-12
                    .worksGallery__item
                        .worksGallery__item-img
                            img(src="images/gal--04.jpg", alt="")
                        .worksGallery__item-inner
                            .worksGallery__item-text
                                img(src="images/gal-ico--04.png", alt="")
                                h3: a(href="#") Аварийный вызов
    section.howTo
        .container
            h1 Как мы работаем:
            .row
                .col.col-lg-4.col-md-6.col-xs-12
                    a(href="#").howTo__item.howTo__item-1
                        .howTo__item-num 1
                        .howTo__item-text
                            h3
                                u Звонок
                                br
                                |  или заявка
                                br
                                | на сайте
                .col.col-lg-4.col-md-6.col-xs-12
                    a(href="#").howTo__item.howTo__item-2
                        .howTo__item-num 2
                        .howTo__item-text
                            h3
                                u Выезд
                                |  специалиста
                                br
                                | на объект
                .col.col-lg-4.col-md-6.col-xs-12
                    a(href="#").howTo__item.howTo__item-3
                        .howTo__item-num 3
                        .howTo__item-text
                            h3
                                u Обсуждение
                                br
                                |  деталей
                                br
                                | и составление
                                br
                                | сметы
                .col.col-lg-4.col-md-6.col-xs-12
                    a(href="#").howTo__item.howTo__item-4
                        .howTo__item-num 4
                        .howTo__item-text
                            h3 Заключение&nbsp;
                                br
                                u договора
                .col.col-lg-4.col-md-6.col-xs-12
                    a(href="#").howTo__item.howTo__item-5
                        .howTo__item-num 5
                        .howTo__item-text
                            h3
                                u Выполнение
                                    br
                                    |  работ
                .col.col-lg-4.col-md-6.col-xs-12
                    a(href="#").howTo__item.howTo__item-6
                        .howTo__item-num 6
                        .howTo__item-text
                            h3
                                u Оплата
                                    br
                                    |  за работу
    section.ourWorks
        .container
            h1 Наши работы:
        .ourWorks-inner.owl-carousel
            .item
                .ourWorks-inner__item
                    a.fancybox(href="images/works--01.jpg", rel="gallery1"): img(src="images/works--01.jpg", alt="")
                .ourWorks-inner__item
                    a.fancybox(href="images/works--02.jpg", rel="gallery1"): img(src="images/works--02.jpg", alt="")
            .item
                .ourWorks-inner__item
                    a.fancybox(href="images/works--03.jpg", rel="gallery1"): img(src="images/works--03.jpg", alt="")
                .ourWorks-inner__item
                    a.fancybox(href="images/works--04.jpg", rel="gallery1"): img(src="images/works--04.jpg", alt="")
            .item
                .ourWorks-inner__item
                    a.fancybox(href="images/works--05.jpg", rel="gallery1"): img(src="images/works--05.jpg", alt="")
                .ourWorks-inner__item
                    a.fancybox(href="images/works--06.jpg", rel="gallery1"): img(src="images/works--06.jpg", alt="")
            .item
                .ourWorks-inner__item
                    a.fancybox(href="images/works--07.jpg", rel="gallery1"): img(src="images/works--07.jpg", alt="")
                .ourWorks-inner__item
                    a(href="#"): img(src="images/works--11.jpg", alt="")
            .item
                .ourWorks-inner__item
                    a.fancybox(href="images/works--09.jpg", rel="gallery1"): img(src="images/works--09.jpg", alt="")
                .ourWorks-inner__item
                    a.fancybox(href="images/works--10.jpg", rel="gallery1"): img(src="images/works--10.jpg", alt="")
    section.workTypes
        .container
            .row
                .col.col-lg-6
                    h1 Виды работ
                    .text--center
                        .row
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--01.png", alt="")
                                    h3 Монтаж
                                        br
                                        | электрики
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--02.png", alt="")
                                    h3 Монтаж
                                        | электропроводки
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--03.png", alt="")
                                    h3 Монтаж
                                        | электрощитов
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--04.png", alt="")
                                    h3 Ремонт
                                        br
                                        | электрики
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--05.png", alt="")
                                    h3 Установка
                                        | и монтаж освещения
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--06.png", alt="")
                                    h3 Установка
                                        | и монтаж розеток
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--07.png", alt="")
                                    h3 Подключение светодиодной ленты
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--08.png", alt="")
                                    h3 Прокладка
                                        br
                                        | кабеля
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--09.png", alt="")
                                    h3 Ремонт и замена проводки
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--10.png", alt="")
                                    h3 Установка оборудования
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--11.png", alt="")
                                    h3 Установка подсветки
                            .col.col-md-4.col-sm-6.col-xs-12
                                a(href="#").workTypes-inner
                                    .workTypes-inner__item
                                        img(src="images/types--12.png", alt="")
                                    h3 Установка электроточек
                            a.btn.btn--default.btn--lg.text--uppercase(href="#") все виды услуг
                    .calcBox
                        .col.col-md-4.col-xs-12.text--center
                            img(src="images/calc.png", alt="")
                        .col.col-md-8.col-xs-12
                            h3.margtop30: b Для удобства вычислений,
                                | вы можете воспользоваться
                                a.text--uppercase.text--danger(href="#"): u калькулятором услуг
                .col.col-lg-6
                    .workTypes-content
                        h1 О компании
                        h3 Электромонтажные услуги любой степени сложности в Москве — компания «ЭлектроДока».
                        p «ЭлектроДока» — динамично развивающаяся компания, предоставляющая клиентам полный комплекс услуг в сфере электромонтажа по доступным ценам. Мы работаем на рынке электротехнических услуг г. Москвы с 2011 года. За это время была сформирована слаженная и профессиональная команда специалистов, которые оперативно и качественно выполняют свою работу, следуя предписаниям действующих ГОСТов и Правил устройства электроустановок (ПУЭ). Все сотрудники компании имеют дипломы о среднем или высшем электротехническом образовании и действующую группу допуска по электробезопасности. На выполненные работы предоставляется длительная гарантия сроком от 12 до 48 месяцев.
                        h3 В перечень услуг компании «ЭлектроДока» входят:
                        ul.list--styled
                            li Электромонтаж под ключ для&nbsp;
                                a(href="#") квартир
                                | ,&nbsp;
                                a(href="#") коттеджей
                                |  и&nbsp;
                                a(href="#") офисов
                                | ;
                            li
                                a(href="#") прокладка кабелей силовых,
                                |  телевизионных, телефонных, UTP и т.д.;
                            li
                                a(href="#") сборка электрощитов
                                |  , их реконструкция и монтаж;
                            li
                                a(href="#") монтаж розеток
                                | : электрических, телевизионных, компьютерных и телефонных;
                            li сборка, монтаж и&nbsp;
                                a(href="#") подключение светильников
                                | : люстр, бра, точечных светильников,&nbsp;
                                a(href="#") декоративной подсветки
                                | ;
                            li подключение электроплит, домофонов, видеодомофонов, стиральных машин, водонагревателей;
                            li
                                a(href="#") монтаж электропроводки
                                |   и&nbsp;
                                a(href="#") замена электрики
                                |  в любых масштабах на территории Москвы.
                        h3 Стремясь создать максимально комфортные условия для действующих клиентов и привлечь новых, мы предлагаем вам следующие преимущества:
                        p
                         b Услугу экстренного вызова электрика по Москве.
                         |  В случае аварийной ситуации звоните нам по телефону (495) 968-08-19 и заказывайте вызов электрика. Мы работает ежедневно с 8:00 до 21:00 и на рабочем месте всегда есть специалисты, готовые прийти вам на помощь.
                        p
                            b Составление проектной документации.
                            |  При выполнении ряда электромонтажных работ необходимо заранее составить и утвердить в надзорных органах проект. Чтобы эти задачи не ложились неподъемным грузом на ваши плечи, обращайтесь в «ЭлектроДока». Мы оперативно подготовим необходимую документацию и окажем содействие в процессе ее согласования.
                        p
                            b Услуги по закупке материалов и оборудования.
                            |  Наша компания сотрудничает с ведущими производителями и продавцами электротехнического оборудования — АВВ, Legrand, Schneider Electric, «Севкабель», «Конкорд», Электрокабель Кольчугинский завод, Cavel и т.д. Вам не придется тратить время и силы на походы по магазинам. Все необходимые электротовары по оптовым ценам приобретут мастера, предоставив вам отчетные документы.
                        p
                            b Индивидуальный подход к корпоративным клиентам.
                            |  Мы готовы предложить вам индивидуальные условия сотрудничества, длительную гарантию и доступные цены на все виды работ.
                        p Если вы цените качество, безопасность и при этом стремитесь рационально расходовать средства, обращайтесь в «ЭлектроДока». Мы применяем индивидуальный подход к каждому клиенту и хотим, чтобы вы были нами довольны.
    section.exampleBlock
        .container
            .exampleBlock-inner
                h1 Примеры расчетов
                p Мы подготовили для вас примеры расчетов по разным категориям (дома,
                    br
                    | коттеджи, офис и многое другое), пройдите по ссылке, чтобы изучить
                    br
                    | требования и пожелания. fА так же скачать бланки для заполнения
                a.margtop50.btn.btn--primary.btn--lg.text--uppercase(href="#") Перейти к расчетам
    section.reviewBlock
        .container
            h1 Отзывы
            .reviewBlock-inner
                .reviewBlock-slider
                    - for (var x = 1; x < 4; x++)
                        .item
                            .col-xlg-5.col-lg-6.col-md-8.center-block
                                .this-or-this
                                    .this-or-this__this.hidden--sm.hidden--xs
                                        .reviewBlock-sqr 4+
                                    .this-or-this__this.text--center
                                        img(src="images/ava--01.jpg", alt="")
                                    .this-or-this__or.text--center.text--md--left
                                        .reviewBlock-name
                                            h2.margbot0.margtop0 Владимир
                                            p 2 марта 2016
                            .col-lg-8.col-md-10.center-block
                                .reviewBlock-desc
                                    p «На данный момент претензий к выполненной работе не имею, но чтобы окончательно высказаться о качественном ремонте, то нужно, чтобы прошла зима, и уже весной, после зимы, можно будет дать полную адекватную оценку по выполненным работам, так-как отделка производилась в деревянном»  является стабильным материалом и имеет свои сложности. Поэтому только время покажет, насколько правильно была применена технология к данному типу строений»
    .conductHead
        img(src="images/conduct-head1.png", alt="")
    .conductFoot
        img(src="images/conduct-4.png", alt="")
