main.site-text
    include ../components/_breadcrumbs
    .container
        .row
            include ../components/_sidebar
            section.section.col.col-lg-8.col-xs-12
                .content
                    h2.margtop10 Услуги электрика, аварийные работы, срочный вызов электрика на дом в Москве.
                    p Услуги электрика, цена на которые ниже среднерыночной – всегда востребованы. Компания «ЭлектроДока» предлагаем вам полный комплекс услуг в сфере электромонтажа: вы можете заказать вызов электрика на дом в г. Москва ежедневно c 8:00 до 21:00. Наши сотрудники – высококвалифицированные специалисты, имеющие оконченное высшее или среднее электротехническое образование, действующую группу допуска по электробезопасности и стаж, превышающий 5 лет.
                    p Срочный вызов электрика в Москве – чрезвычайно востребованная услуга, поэтому стремясь укрепить свои позиции на рынке, мы предлагаем клиентам максимально выгодные условия сотрудничества. Стоимость услуги электрика, прайс-лист для всех видов работ представлены на соответствующей странице сайта. Сравнив цены, вы убедитесь, что услуги наших электриков, вызов на дом в Москве квалифицированного специалиста и работа «под ключ» при обращении в компанию «ЭлектроДока» — совершенно доступны.
                    h3 Частный электрик: вызов, цена, перечень услуг.
                    p
                        a(href="#") Прайс лист
                        |  на услуги электрика в Москве
                    .table--responsive
                        table.table.table--striped.table--hover
                            tbody
                                tr
                                    td 11.1
                                    td Выезд мастера для составления сметы
                                    td 0
                                tr
                                    td 11.2
                                    td Выезд мастера аварийный
                                    td от 3000
                                tr
                                    td 11.3
                                    td Коэффициент на работы свыше 3 метров
                                    td 1,25
                                tr
                                    td 11.4
                                    td Услуга по покупке материалов, зап. частей и прочее
                                    td 0
                                tr
                                    td 11.5
                                    td Минимальная стоимость электромонтажных работ в Москве
                                    td 3000
                    h3 Вызов электрика на дом, цены и дополнительные услуги компании представлены в прайс-листе. Перечень работ включает в себя:
                    ul.list--styled
                        li Срочный вызов электрика для выполнения аварийно-восстановительных работ – к примеру, для устранения последствий короткого замыкания, замены предохранителей, поиска и устранения обрыва электропроводки.
                        li Поиск и выявление причины прекращения электроснабжения квартиры/дома/офиса.
                        li Организацию временной схемы электроснабжения.
                        li Монтаж электропроводки, электрощитов, розеток и светильников.
                    p Обратите внимание: вам не нужно предоставлять специалисту расходные материалы или электрооборудование. Все необходимое профессиональный электрик привезет с собой, а в случае необходимости – приобретет в специализированных магазинах по оптовым ценам, предоставив вам чек. Кроме того, оплачивая услуги частного электрика из электромонтажной организации «ЭлектроДока», вы получаете гарантию на выполненные работы и полный пакет документов (договор, акт выполненных работ, финансовую документацию).
                    .accordion.table--responsive
                        table.table.table--striped.table--hover
                            thead
                                tr
                                    th №
                                    th.t60: b Наименование
                                    th Ед.изм.
                                    th Кол-во
                                    th Цена, Р
                        .accordion-item
                            span 1
                            span.text--uppercase ЭЛЕКТРОПРОВОДКА, КАБЕЛЬКАНАЛЫ
                            .type
                        .data
                            table.table.table--striped.table--hover
                                tbody
                                    tr
                                        td 1.1
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id1")
                                                label(for="id1") Укладка кабеля или провода в коробе (кабель-канале) до 4 мм кв.	м.п.	50
                                        td м.п.
                                        td 53
                                        td 50
                                    tr
                                        td 1.2
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id2")
                                                label(for="id2") Укладка кабеля или провода в коробе (кабель-канале) от 6 мм кв.
                                        td м.п.
                                        td 100
                                        td 60
                                    tr
                                        td 1.3
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id3")
                                                label(for="id3") Монтаж электропроводки в штробе до 4 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.4
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id4")
                                                label(for="id4") Монтаж электропроводки в штробе от 6 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.5
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id5")
                                                label(for="id5") Монтаж кабеля или провода по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.6
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id6")
                                                label(for="id6") Монтаж кабеля или провода в гофротрубе по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tfoot
                                        tr
                                            td(colspan="5")
                                                b Промежуточный итог:
                                                span  1 089 974 Р
                                                a(href="#") К оформлению заказа


                        .accordion-item
                            span 2
                            span.text--uppercase ШТРОБЛЕНИЕ
                            .type
                        .data
                            table.table.table--striped.table--hover
                                tbody
                                    tr
                                        td 1.1
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id1")
                                                label(for="id1") Укладка кабеля или провода в коробе (кабель-канале) до 4 мм кв.	м.п.	50
                                        td м.п.
                                        td 53
                                        td 50
                                    tr
                                        td 1.2
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id2")
                                                label(for="id2") Укладка кабеля или провода в коробе (кабель-канале) от 6 мм кв.
                                        td м.п.
                                        td 100
                                        td 60
                                    tr
                                        td 1.3
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id3")
                                                label(for="id3") Монтаж электропроводки в штробе до 4 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.4
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id4")
                                                label(for="id4") Монтаж электропроводки в штробе от 6 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.5
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id5")
                                                label(for="id5") Монтаж кабеля или провода по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.6
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id6")
                                                label(for="id6") Монтаж кабеля или провода в гофротрубе по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tfoot
                                        tr
                                            td(colspan="5")
                                                b Промежуточный итог:
                                                span  1 089 974 Р
                                                a(href="#") К оформлению заказа


                        .accordion-item
                            span 3
                            span.text--uppercase АВТОМАТИЧЕСКИЕ ВЫКЛЮЧАТЕЛИ, УЗО
                            .type
                        .data
                            table.table.table--striped.table--hover
                                tbody
                                    tr
                                        td 1.1
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id1")
                                                label(for="id1") Укладка кабеля или провода в коробе (кабель-канале) до 4 мм кв.	м.п.	50
                                        td м.п.
                                        td 53
                                        td 50
                                    tr
                                        td 1.2
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id2")
                                                label(for="id2") Укладка кабеля или провода в коробе (кабель-канале) от 6 мм кв.
                                        td м.п.
                                        td 100
                                        td 60
                                    tr
                                        td 1.3
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id3")
                                                label(for="id3") Монтаж электропроводки в штробе до 4 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.4
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id4")
                                                label(for="id4") Монтаж электропроводки в штробе от 6 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.5
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id5")
                                                label(for="id5") Монтаж кабеля или провода по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.6
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id6")
                                                label(for="id6") Монтаж кабеля или провода в гофротрубе по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tfoot
                                        tr
                                            td(colspan="5")
                                                b Промежуточный итог:
                                                span  1 089 974 Р
                                                a(href="#") К оформлению заказа


                        .accordion-item
                            span 4
                            span.text--uppercase ЭЛЕКТРОЩИТЫ
                            .type
                        .data
                            table.table.table--striped.table--hover
                                tbody
                                    tr
                                        td 1.1
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id1")
                                                label(for="id1") Укладка кабеля или провода в коробе (кабель-канале) до 4 мм кв.	м.п.	50
                                        td м.п.
                                        td 53
                                        td 50
                                    tr
                                        td 1.2
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id2")
                                                label(for="id2") Укладка кабеля или провода в коробе (кабель-канале) от 6 мм кв.
                                        td м.п.
                                        td 100
                                        td 60
                                    tr
                                        td 1.3
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id3")
                                                label(for="id3") Монтаж электропроводки в штробе до 4 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.4
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id4")
                                                label(for="id4") Монтаж электропроводки в штробе от 6 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.5
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id5")
                                                label(for="id5") Монтаж кабеля или провода по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.6
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id6")
                                                label(for="id6") Монтаж кабеля или провода в гофротрубе по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tfoot
                                        tr
                                            td(colspan="5")
                                                b Промежуточный итог:
                                                span  1 089 974 Р
                                                a(href="#") К оформлению заказа


                        .accordion-item
                            span 5
                            span.text--uppercase РОЗЕТКИ, ВЫКЛЮЧАТЕЛИ
                            .type
                        .data
                            table.table.table--striped.table--hover
                                tbody
                                    tr
                                        td 1.1
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id1")
                                                label(for="id1") Укладка кабеля или провода в коробе (кабель-канале) до 4 мм кв.	м.п.	50
                                        td м.п.
                                        td 53
                                        td 50
                                    tr
                                        td 1.2
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id2")
                                                label(for="id2") Укладка кабеля или провода в коробе (кабель-канале) от 6 мм кв.
                                        td м.п.
                                        td 100
                                        td 60
                                    tr
                                        td 1.3
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id3")
                                                label(for="id3") Монтаж электропроводки в штробе до 4 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.4
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id4")
                                                label(for="id4") Монтаж электропроводки в штробе от 6 мм кв.
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.5
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id5")
                                                label(for="id5") Монтаж кабеля или провода по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tr
                                        td 1.6
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id6")
                                                label(for="id6") Монтаж кабеля или провода в гофротрубе по потолку
                                        td м.п.
                                        td 0
                                        td 60
                                    tfoot
                                        tr
                                            td(colspan="5")
                                                b Промежуточный итог:
                                                span  1 089 974 Р
                                                a(href="#") К оформлению заказа
                        .text--center
                            h1 Ваш заказ
                        .table--responsive
                            table.table.table--striped.table--hover
                                tbody
                                    tr
                                        td 1.2
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id16")
                                                label(for="id16") Укладка кабеля или провода в коробе (кабель-канале) от 6 мм кв.
                                        td м.п.
                                        td 100
                                        td 60
                                    tr
                                        td 1.6
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id17")
                                                label(for="id17") Монтаж кабеля или провода в гофротрубе  по потолку
                                        td м.п.
                                        td 100
                                        td 60
                                    tr
                                        td 1.9
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id18")
                                                label(for="id18") Кабельканал шириной до 25 мм по ГКЛ (гипсокартон), дерево
                                        td м.п.
                                        td 100
                                        td 60
                                    tr
                                        td 1.12
                                        td.t60
                                            .checkbox
                                                input(type="checkbox", id="id19")
                                                label(for="id19") Кабельканал шириной свыше 25 мм по ГКЛ (гипсокартон), дерево
                                        td м.п.
                                        td 100
                                        td 60
                                tfoot
                                    tr
                                        td(colspan="5")
                                            b.margright30 Итого:
                                            span  1 089 974 Р
                            ul.list--inline.margtop30
                                li: a.margbot20.btn.btn--danger.btn--lg(href='#') Распечатать
                                li: a.margbot20.btn.btn--info.btn--lg(href='#') Сохранить PDF
                    .content-slider
                        - for (var x = 1; x < 11; x++)
                            .item
                                img(src="images/slider.jpg", alt="")
                    .accordion
                        .accordion-section
                            a.accordion-section-title(href="#accordion-2") Выпадающий контент / Спойлер
                            #accordion-2.accordion-section-content
                                p Ось собственного вращения эллиптично не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения ньютонометр. Отсюда следует, что внутреннее кольцо велико. Угловая скорость, в отличие от некоторых других случаев, опасна.
                    include ../components/_paginator
                    include ../components/_pager
                    ul.list--inline
                        li: a.margbot20.btn.btn--danger.btn--lg(data-toggle='modal', href='#modal-id1') Подробнее
                        li: a.margbot20.btn.btn--info.btn--lg(data-toggle='modal', href='#modal-id2') Заказать звонок
                        li: a.btn.btn--info.btn--lg(data-toggle='modal', href='#modal-id3') Заказать
        .feedback
            .row
                .col.col-md-3.col-xs-12
                    p.iconBlock: img(src="images/slider-ico--04.png", alt="")
                    h1.text--danger Форма
                        | обратной
                        | связи
                .col.col-md-3.col-xs-12
                    p.margbot60: b Вызвать электрика
                        br
                        | на дом вы можете ежедневно
                        small с 8:00 до 21:00
                    p Заявка на вызов электрика принимается по телефону
                        small +7 (903) 968-08-19
                        | или через контактную форму.
                .col.col-md-6.col-xs-12
                    form(action='', method='post', role='form')
                        .form-group.row
                            .col.col-md-6.col-xs-12.margbot20
                                input.form-control(type='text', placeholder='Ваше имя', required)
                            .col.col-md-6.col-xs-12
                                input.form-control(type='email', placeholder='Ваш e-mail или телефон', required)
                        .form-group
                            textarea.form-control(placeholder='Сообщение', rows="4")
                        button.btn.btn--danger.btn--lg.text--uppercase.btn--block(type='submit') Отправить
    .conductFoot
        img(src="images/conduct-4.png", alt="")