// mixins


// menu
mixin list(classUl, ...items)
    ul(class=classUl)
        each item in items
            li.nav__element
                a(href="#").nav__element-link= item


// form-input
mixin fieldInput(type, name, id, label, placeholder, data, required)
    .form-group(class='field-' + type)
        label(for=id) #{label}
        input.form-control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)

// form-textarea
mixin fieldTextarea(name, id, label, placeholder, data, required)
    .form-group(class='field-' + type)
        label(for=id) #{label}
        textarea.form-control(name=name, id=id, placeholder=placeholder, data-label=data, required=required)


// maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';
