//- Custom Configuration
block config
  - var baseUrl = ''

doctype html

<!--[if lt IE 9]>
<html class='lt-ie8 no-js' lang='ru'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='ru'>
<!--<![endif]-->

include ../mixins/_mixins

head
  include ../partials/_head

block pageName
  -var pageName = "main"

body(class="page-#{pageName}")
  include ../components/_modal
  <!--[if lt IE 9]>
  p.browsehappy
    | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
    a(href="http://browsehappy.com/", target="_blank") современных браузеров.
    |  Это бесплатно и займет всего несколько минут.
  <![endif]-->

  .indexOv
    block siteHeader
    block siteMain
    block siteFooter

  block scripts
    <!--[if lt IE 9]>
    script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    //- build:js(./app/) scripts/plugins.js -->
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    script(src="../bower_components/fancybox/source/jquery.fancybox.pack.js")
    script(src="scripts/plugins/bootstrap.min.js")
    script(src="scripts/plugins/jquery.maskedinput.min.js")
    script(src="scripts/plugins/owl.carousel.min.js")
    //- endbuild -->
    //- build:js(.tmp) scripts/main.js -->
    script(src="scripts/main.js")
    //- endbuild -->

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
      script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');

| </html>